{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Azure and Cloud Computing Conference</h2>

                <hr class="light">

                <p class="text-faded"><b class="covid">Important Note:</b>
                    The <i>worldwide</i> Global Azure Bootcamp 2020 has been
                    <a href="https://globalazure.net/Blog/Post/190/Global-Azure-and-COVID-19" target="_blank">canceled</a>
                    because of COVID-19. However, <b class="covid">Linz is currently still on</b>. We are evaluating our options
                    and discussing the decision whether we should cancel Linz, too, with our speakers and sponsors.
                    Stay tuned for news in the next few days.
                </p>

                <hr class="light">

                <p class="text-faded">All around the world user groups and communities will come together from April 23
                    - April 25, 2020 once again in
                    the seventh <a href="https://global.azurebootcamp.net/" target="_blank">Global Azure Bootcamp</a>
                    event!</p>

                <p class="text-faded">As the Global Azure Bootcamp Linz has been growing over the last few years and
                    reached about 200 attendees in 2019, we are happy to announce a new location for 2020 which will
                    allow us to grow further - meet us at <a
                        href="https://www.megaplex.at/kino/hollywood-megaplex-pasching" target="_blank">Hollywood
                        Megaplex Pasching</a>!</p>

                <hr class="light">

                <h3>Join us on Friday, April 24, 2020!</h3>
            </div>
        </div>
    </div>
</section>

<section id="abount-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                    <h3>Speakers</h3>
                    <p class="text-muted">Internationally highly respected speakers will share their knowledge about
                        topics around Azure and Cloud Computing.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sponsors</h3>
                    <p class="text-muted">Thanks to our great sponsors the entry will be free and we will be able to
                        provide lunch, coffee, beverages and snacks.</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                    <h3>Community</h3>
                    <p class="text-muted">Organized by the community for the community. Exchange ideas with developers
                        from all over Austria.</p>
                </div>
            </div>
        </div>
    </div>
</section>