{{ "<!-- CONTACT -->" | safeHTML }}
<section id="banner-2021" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 hidden-xs">
                <img src="/img/gab2021.png" width="100%">
            </div>
            <div class="col-sm-9 col-xs-12 text-center">
                <!-- <h2>Global Azure Austria 2021</h2>
                <h3>Friday, April 16, 2021</h3> -->
                <p>This is the archived content of Global Azure Austria 2020.</p>
                <h3>Looking for this year's event?</h3>
                <p>
                    <a class="btn btn-success" href="https://globalazure.at">Go to 2021</a>
                </p>
            </div>
        </div>
    </div>
</section>