<section id="time-table" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="light">
                <p>
                    A more detailed schedule will will be published soon.
                </p>
            </div>

            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
                <table class="table schedule">
                    <tr>
                        <th></th>
                        <th>Saal 8</th>
                        <th>Saal 11</th>
                        <th>Saal 12</th>
                        <th>Saal 13</th>
                        <th>Saal 14</th>
                        <th>Saal 3</th>
                    </tr>
                    <tr>
                        <td>09:00 - 09:30</td>
                        <td>Keynote</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>10:45 - 11:35</td>
                        <td>-</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                    </tr>
                    <tr>
                        <td>11:40 - 12:30</td>
                        <td>-</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                    </tr>
                    <tr>
                        <td>13:30 - 14:20</td>
                        <td>-</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                    </tr>
                    <tr>
                        <td>13:30 - 14:20</td>
                        <td>-</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>14:25 - 15:25</td>
                        <td>-</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>15:40 - 16:30</td>
                        <td>-</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>Session</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>