<section id="time-table" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Zeitplan</h2>
                <hr class="light">
                <p>
                    Die Details zu den Sessions und Vortragenden werden wir in den nächsten Wochen veröffentlichen.
                </p>

            </div>

            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
                <table class="table schedule">
                    <tr class="hidden-xs">
                        <th></th>
                        <th>Saal 3</th>
                    </tr>
                    <tr>
                        <td>13:30 - 14:20</td>
                        <td><span class="visible-xs">Saal 3: </span>Session 1</td>
                    </tr>
                    <tr>
                        <td>14:25 - 15:25</td>
                        <td><span class="visible-xs">Saal 3: </span>Session 2</td>
                    </tr>
                    <tr>
                        <td>15:40 - 16:30</td>
                        <td><span class="visible-xs">Saal 3: </span>Session 3</td>
                    </tr>
                    <tr>
                        <td>ab 16:45</td>
                        <td>Führung durch das Hollywood Megaplex<br /><br />Führung durch die Technik der Plus City: Photovoltaik, Brandschutz, Klimatechnik, ...<br><br>jeweils 30 - 45 Minuten, es kann nacheinander an beiden Führungen teilgenommen werden</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>