{{ "<!-- ABOUT -->" | safeHTML }}
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sponsors</h2>

                <hr class="primary">

                <p class="text-muted">Our great sponsors make Global Azure Bootcamp Linz possible. Check out their
                    websites and come and say hello on the day.</p>
            </div>
        </div>

        {{ with (.Site.GetPage "/sponsors") }}
        {{ range .Pages.GroupByParam "priority" }}
        <div class="row sponsors sponsor-overview">
            <div class="col-lg-12 text-center">
                {{ range first 1 .Pages }}
                <h3 class="sponsor-type">{{ .Type }}</h3>
                {{ end }}
            </div>

            {{ range .Pages.ByParam "title" }}
            {{ $cols := 3 }}
            {{ $colsXs := 6 }}
            {{ if or (eq .Params.priority 1) (eq .Params.priority 5) }}
            {{ $cols = 12 }}
            {{ $colsXs = 12 }}
            {{ end }}

            {{ $logo := .Params.logo }}
            {{ if isset .Params "logooverview" }}
            {{ $logo = .Params.logooverview }}
            {{ end }}
            <div class="col-sm-{{$cols}} col-xs-{{$colsXs}} text-center">
                <p>
                    <a href="/sponsors#{{ .Params.title }}"><img class="prio{{.Params.priority}}"
                            src="/img/sponsors/{{ $logo }}" /></a>
                </p>
            </div>
            {{ end }}

        </div>
        {{ end }}
        {{ end }}
    </div>
</section>