{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="tickets">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tickets</h2>

                <hr class="light">

                <p class="text-faded">Join us on Friday, April 2020, at <a
                        href="https://www.megaplex.at/kino/hollywood-megaplex-pasching" target="_blank">Hollywood
                        Megaplex Pasching</a>. The tickets are free!
                </p>

                <p>
                    If you already have a ticket and you won't make it to event, please be so
                    kind to cancel your reservation in Eventbrite or send a mail to <a
                        href="mailto:info@coderdojo-linz.org">info@coderdojo-linz.org</a>.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 text-center">
                <a class="btn btn-default btn-block"
                    href="https://www.eventbrite.de/e/global-azure-bootcamp-austria-2020-tickets-90274179501"
                    target="_blank">Get Ticket</a>
            </div>
        </div>
    </div>
</section>