<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63326882-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-63326882-2');
    </script>

    {{ partial "head.html" . }}
</head>

<body id="page-top">
    {{ partial "nav.html" . }}

    {{ partial "hero.html" . }}

    {{ partial "about.html" . }}

    {{ partial "call-for-speakers.html" . }}

    {{ partial "sponsors.html" . }}

    {{ partial "tickets.html" . }}

    {{ partial "location.html" . }}

    {{ partial "contact.html" . }}

    {{ partial "js.html" . }}

    {{ template "_internal/google_analytics.html" . }}
</body>

</html>